@(form:Form[_], fieldName: String, label: String)

@import uk.gov.hmrc.play.validators.AddressFields._

<label><h4>@label</h4></label>
<div class="address">
@line1 = @{fieldName + "." + addressLine1}
@input(form(line1), '_label -> "Line 1:")
@line2 = @{fieldName + "." + addressLine2}
@input(form(line2), '_label -> "Line 2:")
@line3 = @{fieldName + "." + addressLine3}
@input(form(line3), '_label -> "Line 3:")
@line4 = @{fieldName + "." + addressLine4}
@input(form(line4), '_label -> "Line 4:")
@pc = @{fieldName + "." + postcode}
@input(form(pc), '_label -> "Postcode:")
</div>